#helpContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#helpHeading {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#helpText {
    -fx-text-fill: white;
    -fx-control-inner-background: #252525;
    -fx-font-family: Monospaced;
    -fx-font-size: 13px;
}
